a
{
text-decoration: none;
color: black;
}
.navbar
{
	background-color: #f8f9fa;
}
.logo img
{
	width: 50px;
}
.logo h1
{
	font-size:18px;
	font-family: 'Raleway', sans-serif;
}
.navbar-menu
{
	display: flex;
	justify-content: space-between;
}
.card-img-top
{
	max-height: 200px;
}
.carousel-inner
{
	max-height:500px;
}

.carousel-item img
{
	width: 100%;
}
.restaurant-box
{
	background-color: #f8f9fa;
}
.reserve
{
	opacity: 0.4;
	max-height: 750px;
	
}
.reserve-row 
{
	position: relative;
}
.reserve-text
{
	position: absolute;
	text-align: center;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.restaurant-box h3
{
font-family: 'Raleway', sans-serif;
font-family: 'Courgette', cursive;
}
.card-body h4
{
font-family: 'Raleway', sans-serif;
font-family: 'Courgette', cursive;
}
.fontstyle h2
{
	font-family: 'Raleway', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Titan One', cursive;
font-family: 'Racing Sans One', cursive;
}
.list-group li
{
	font-family: 'Courgette', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Titan One', cursive;
font-family: 'Italiana', serif;
font-family: 'Amita', cursive;
}
.restaurant-box p
{
	font-family: 'Courgette', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Titan One', cursive;
font-family: 'Amita', cursive;
font-family: 'Italiana', serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Lato', sans-serif;
}
.footer{
	background-color:lightgrey;
}